workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "model": "gpt-3.5-turbo",
        "prompt": "=Generate a {{ $json.days }}-day travel itinerary for {{ $json.travelers }} travelers going to {{ $json.destination }} with a {{ $json.budget }} budget. Mode of travel: {{ $json.mode }}. Preferences: {{ $json.preferences }}. \n\nFormat the response as HTML with:\n- <h3>Day 1: Title</h3><ul><li>Morning...</li>...</ul>\n- Ensure budget awareness in suggestions.\n- Include a 'Travel Considerations' section.",
        "options": {}
      },
      "id": "llm-node",
      "name": "Generate Itinerary",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        500,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "=Your Trip to {{ $node['Webhook'].json.destination }} is Ready! ✈️",
        "message": "=Here is your personalized itinerary:\n\n{{ $json.text }}\n\nSafe travels!\n- WanderPlan AI",
        "toEmail": "={{ $node['Webhook'].json.email }}"
      },
      "id": "gmail-node",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        750,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Generate Itinerary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Itinerary": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
